.maincontainer{
    width:100%;
}

.container1{
    background-color: lime;
    float: left;
    width:16%;
    color:lime;
    height: 50px;
}

.container2{
    background-color: blueviolet;
    float: left;
    width:16%;
    color:blueviolet;
    height: 50px;
}

.container3{
    background-color: purple;
    float: left;
    width:16%;
    color:purple;
    height: 50px;
}

.container4{
    background-color: gray;
    float: left;
    width:50%;
    color:gray;
    height: 50px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

/*ex2*/

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.menu{
    margin-top: 0px;
    border: 1px solid rgb(200, 226, 235);
    height: 80px;
    background-color: rgba(242, 248, 250, 0.979);
}

ul {
    list-style-type: none;
    font-size: 25px;
    align-content: baseline;
  }

.Home{
    font-weight: bold;
    float: left;
    padding-right: 25px;
    padding-left: 25px;
}

.QuemSomos{
    float: left;
    padding-right: 25px;
    padding-left: 25px;
}

.Clientes{
    float: left;
    padding-right: 25px;
    padding-left: 25px;
}

.Contactos{
    float: left;
    padding-right: 25px;
    padding-left: 25px;
}

/*exemplo*/

.pai{
    width: 500px;
    height: 500px;
    background-color: deepskyblue;
    margin: 100px auto;
    position:relative;
}

.filho{
    width:100px;
    height:100px;
    background-color: #FFcc00;
    position: absolute;
    top:0px;
    left:0px;
}

