body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}


p{
    font-size: 20px;
    font-weight: bold;
}

.mainmenu{
    height: 80px;
    width: 100%;
    background-color: greenyellow;
    border: 1px solid black;
}

.mainmenu > div:nth-child(1),
.mainmenu > div:nth-child(2),
.mainmenu > div:nth-child(3),
.mainmenu > div:nth-child(4),
.mainmenu > div:nth-child(5),
.mainmenu > div:nth-child(6) {
    float:left;
    text-align: center;
    padding: 8px 100px;
    align-items: center;
    position:relative;
}

.mainmenu > div:nth-child(1):hover,
.mainmenu > div:nth-child(2):hover,
.mainmenu > div:nth-child(3):hover,
.mainmenu > div:nth-child(4):hover,
.mainmenu > div:nth-child(5):hover,
.mainmenu > div:nth-child(6):hover {
    background-color: rgb(200, 255, 178);
}

.submenu > div:nth-child(1){
    position:absolute;
    display: block;
}

.submenu > div:nth-child(1):hover{
    background-color: rgb(200, 255, 178);
}



