body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}


.menu{
    display:flex;
    list-style-type: none;
    padding:30px;
    background-color: greenyellow;
    border: 1px solid black;
}
    
.menu > li{
    padding: 0px 100px 00px 100px;
    font-weight: bold;
    font-size:20px;
}

.submenu{
    display:none;
    list-style-type: none;
    background-color: pink;
    position: absolute;
    transform: translateX(-20px);
    padding:20px;
    
}

.menu > li:hover .submenu{
    display: block;
}



